{
  "extends": "airbnb",
  "rules": {
     "func-names": 0,
     "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
     "react/prefer-stateless-function": [0, { "ignorePureComponents": <ignorePureComponents> }],
     "no-param-reassign": [2, { "props": false }],
     "no-console": 0,
     "default-case": 0,
     "no-tabs": 0,
     "react/prop-types": 0,
     "consistent-return": 0,
     "react/no-array-index-key": 0,
     "no-underscore-dangle": 0,
     "no-bitwise": 0,
     "no-restricted-properties": 0 
    }
}
