{
  "extends": "airbnb",
  "rules": {
     "func-names": 0,
     "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
     "react/prefer-stateless-function": [0, { "ignorePureComponents": <ignorePureComponents> }],
     "no-param-reassign": [2, { "props": false }],
     "no-console": 0,
     "default-case": 0,
     "no-tabs": 0
    }
}
