
.gallery-img img {

    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;

}

.btn,
.btn-sm {
    margin-right: 2px;
}

#about-us h2,
#contact-us h2,
#login h2 {
    font-family: 'Podkova', serif;
    font-weight: 600;
}




/* Navbar*/

.navbar {
  position:fixed;
  background-color:#6c6c6c ;
  padding: .5rem 1rem;


}

#nav-img {
  width:90px;
  height:90px;
  border-radius: 5%;
  object-fit: cover;
}


#banner {
    background: url(./../images/splash.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    height: 100vh;
    margin-top: 4%;

}


/*About Us*/

#about-us {
    width: 90%;
    margin: auto;
}

#about-text {

}

#gg-map {
    max-width: 100%;
    margin: 30px;
}

#about-us,
#contact-us {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*Donate Section*/

#search-section input,
#search-section select,
#search-section button {
    margin: 10px;
}

#search-section {
    padding-top: 10px;
}

#search-section b {
    font-size: 18px;
}

.animal-block {
    margin: 15px auto;
    padding: 20px;
    background-color: #ebf0fb;
    border: 7px double white;
    border-radius: 5px;
    height: 300px;
    overflow-y: scroll;
}



.animal-title {
    font-size: 140%;
    text-transform: capitalize;
}

.animal-list {
    font-size: 100%;
    text-transform: capitalize;
}

.animal-photo {
  width: 200px;
  height: 200px;
}




/*Footer*/

.footer {
    text-align: center;
    padding-top: 1%;
    background-color: black;
    color: whitesmoke;
    padding-right: 30px;
}

.footer p,
.footer img {
    display: inline-block;
}

.footer p {
    margin-top: 10px;
}


@media screen and (max-width: 600px) {
    #shelter-container div.dropdown,
    #admin-container div.dropdown {
        float: right;
        margin-top: -35px;
        margin-right: 60px;
    }
}

@media screen and (max-width: 500px) {
    .manage-people-block .people-image-section,
    .manage-people-block .people-info-section {
        width: 100%;
    }
    #shelter-container .nav-tabs>li>a, #admin-container .nav-tabs>li>a {
        height: 35px;
        line-height: 1;
        font-size: 80%;
    }
    #shelter-container .nav-tabs>li, #admin-container .nav-tabs>li {
        width: 100%;
    }
}
