
@media (min-width: 544px) {
  .navbar {
    border-radius: 0.25rem;
  }
}

@media (min-width: 544px) {
  .navbar-full {
    border-radius: 0;
  }
}

@media (min-width: 544px) {
  .navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
  }
}

@media (min-width: 544px) {
  .navbar-sticky-top {
    border-radius: 0;
  }
}

.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none;
}

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
}

@media (min-width: 544px) {
  .navbar-toggleable-xs {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .navbar-toggleable-sm {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .navbar-toggleable-md {
    display: block !important;
  }
}

.navbar-nav .nav-item {
  float: left;
}

.navbar-nav .nav-item .nav-link {
  color:#faac28;
  font-size: 1.5em;
  font-weight:bold;
  text-shadow: 3px 3px 3px 3px white;
  word-spacing: 2px;
  letter-spacing: 2px;
}

.navbar-nav .nav-item .nav-link i {
  color:#b93333;
}


/*.navbar-nav .nav-link {
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem;
}*/

.navbar-nav .nav-link+.nav-link {
  margin-left: 1rem;
}

.navbar-nav .nav-item+.nav-item {
  margin-left: 1rem;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.8);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: rgba(0, 0, 0, 0.8);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .open>.nav-link, .navbar-light .navbar-nav .open>.nav-link:focus, .navbar-light .navbar-nav .open>.nav-link:hover, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .active>.nav-link:focus, .navbar-light .navbar-nav .active>.nav-link:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover {
  color: rgba(0, 0, 0, 0.8);
}

.navbar-light .navbar-divider {
  background-color: rgba(0, 0, 0, 0.075);
}

.navbar-dark .navbar-brand {
  color: white;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .open>.nav-link, .navbar-dark .navbar-nav .open>.nav-link:focus, .navbar-dark .navbar-nav .open>.nav-link:hover, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .active>.nav-link:focus, .navbar-dark .navbar-nav .active>.nav-link:hover, .navbar-dark .navbar-nav .nav-link.open, .navbar-dark .navbar-nav .nav-link.open:focus, .navbar-dark .navbar-nav .nav-link.open:hover, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.active:focus, .navbar-dark .navbar-nav .nav-link.active:hover {
  color: white;
}

.navbar-dark .navbar-divider {
  background-color: rgba(255, 255, 255, 0.075);
}

.logo-font {
  font-family: "Roboto", sans-serif;
}


/*
.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem !important;
  padding-top: 0rem !important;
  margin-right: 2rem !important;
  color: white !important;
}*/


.nav-link:hover {
  transition: 0.1s all;
}

footer {
  background: #f3f3f3;
  margin-top: 3rem;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.error-messages {
  color: #B85C5C !important;
  font-weight: bold;
}

.container.page {
  margin-top: 1.5rem;
}


.home-page .banner {
  background: #860202;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
}

.home-page .banner p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300 !important;
  margin-bottom: 0px;
}

.home-page .banner h1 {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700 !important;
  text-align: center;
  font-size: 3.5rem;
  padding-bottom: 0.5rem;
}

.home-page .feed-toggle {
  margin-bottom: -1px;
}

.home-page .feed-toggle li{
  text-align: center;
  display:inline;

}

.home-page .sidebar {
  padding: 5px 10px 10px 10px;
  background: #f3f3f3;
  border-radius: 4px;
}

.home-page .sidebar p {
  margin-bottom: 0.2rem;
}

.profile-page .user-info {
  text-align: center;
  background: #f3f3f3;
  padding: 2rem 0 1rem 0;
}

.profile-page .user-info .user-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  /*margin-bottom: 1rem;*/
}

.profile-page .user-info h4 {
  font-weight: 700;
}

.profile-page .user-info p {
  margin: 0 auto 0.5rem auto;
  color: #aaa;
  max-width: 450px;
  font-weight: 300;
}

.profile-page .user-info .action-btn {
  float: right;
  color: #999;
  border: 1px solid #999;
}
